# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# CMake stuff
cmake_install.cmake
install_manifest.txt
Makefile
CMakeCache.txt
CMakeFiles

src/cmake_install.cmake
src/install_manifest.txt
src/Makefile
src/CMakeCache.txt
src/CMakeFiles

# Local installation
local

